
.paint {
    background-color: white;
    width: 420px;
    height:580px;
    overflow:hidden;
    display:flex;
    margin:100px;
    flex-direction: column;
    justify-content: space-between;   
    border:none;  
}

.paint-title {
    font-size:28px;
    font-weight: 700;
    margin: 25px 0 0 15px;
    text-align: left;
    padding: 0 10px; 
}
.paint-button {
    background-color: black;
    color:white;
    font-size: 17px;
    border-radius: 5px;
    height: 37px;
    width:100px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    margin:  0 15px 15px 0;
}

.paint-image {
    border:none;
    width:100%;
    height:300px;
    object-fit: contain;
}

.paint-footer {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    gap:15px;
}

.hiding-power {
    font-size: 20px;
    margin: 0 0 5px 25px;
    flex: 1;
}







