header {
    background-color: black;
    max-width: 100%;
    height: 75px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 35px;
}

.header-img { 
    width: 195px;
    height: 45px;
    cursor: pointer;
}
