.search-form {
    display: flex;
    align-items: center;
    gap: 0;
}
.search-input {
    flex:1;
    font-size: 16px;
    height: 50px;
    min-width: 100px;
    width:100px;
    outline:none;
    margin-left: 1500px;
}

.button {
    width: 50px;
    height: 50px;
    background-color: black;
    border: none;
}

.search-logo {
    width: 50%;
}
