.home-banner {
  position: relative;
  min-height: calc(100vh - 77px); 
  display: flex;
  align-items: center;
  overflow: hidden;
}

.banner-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 77% 48%;
  z-index: 1;
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%, transparent 100%);
  z-index: 2;
}

.banner-content {
  position: relative;
  z-index: 3;
  color: white;
  padding: 2rem;
  max-width: 600px;
}

.banner-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.banner-content p {
  font-size: 24px;
  margin-bottom: 1.7rem;
  line-height: 1.6;
}

.button {
    width: 200px;
    height: 50px;
    background-color: black;
    border: none;
}